/**** Reset Style ****/
* {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.image-map-generator {
    width: 1200px;
    margin: 0 auto;
}
.image-map-generator h2 {
    font-size: 30px;
}
#image-map-wrapper {
    text-align: center;
}
#image-mapper-file {
    display: none;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-group-lg>.btn, 
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success.active, 
.btn-success.focus, 
.btn-success:active, 
.btn-success:focus, 
.btn-success:hover, 
.open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.display-none {
    display: none;
}
.image-map-generator {
    padding: 50px 0px;
}
.image-map-generator .step {
    border-radius: 6px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 48px;
    padding-top: 48px;
    background-color: #f4f4f4;
    color: inherit;
    margin-top: 40px;
    margin-bottom: 30px;
}
.copyright-footer {
   background: #131211;
    padding: 12px 0px;
    text-align: center;
    color: #fff; 
}
address {
    margin: 0px;
    padding: 0px;
}
#image-map-container {
    display: inline-block;
    border: 2px solid #DDD;
    padding: 2px;
    border-radius: 3px;
    max-width: 100%;
}
.image-mapper {
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#image-map {
    display: inline-block;
    max-width: 100%;
}
.image-mapper-img {
    max-width: 100%;
    max-height: 100%;
}
.image-mapper-svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.site-header {
    background: #131211;
    padding: 12px 0px;
    text-align: center;
    color: #fff;
    font-size: 32px;
}
.site-content {
    min-height: 850px;
}